* {
    
    box-sizing: border-box;
}

body {
    font-family:"Acumin", serif;
    margin-left:auto;
    margin-right:auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family:serif; 
    letter-spacing:1px;
    color:white
}

h1{
    font-size: 48px
}

h3{
    font-family:"Acumin", serif;
    font-size: 28px;
}

h4,p{
    font-family: Arial, Verdana, sans-serif; 
}


.greytext {
color:#b0b0b0; 
}